[Desktop Entry]
Comment=The only light theme I want
Name=Aritim-Light
X-KDE-PluginInfo-Author=Mrcuve0
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=puof@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Aritim-Light
X-KDE-PluginInfo-Version=0.6.2
X-KDE-PluginInfo-Website=https://github.com/Mrcuve0
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://wallpaper.knsrc/api.kde-look.org/1291140,kns://wallpaper.knsrc/api.kde-look.org/1297586,kns://wallpaper.knsrc/api.kde-look.org/1306097,kns://wallpaper.knsrc/api.kde-look.org/1309077,kns://wallpaper.knsrc/api.kde-look.org/1318333,kns://wallpaper.knsrc/api.kde-look.org/1372613,kns://colorschemes.knsrc/api.kde-look.org/1290460/,kns://plasma-themes.knsrc/api.kde-look.org/1318993,kns://aurorae.knsrc/api.kde-look.org/1321086,kns://plasmoids.knsrc/api.kde-look.org/998901,kns://plasmoids.knsrc/api.kde-look.org/1271237,kns://plasmoids.knsrc/api.kde-look.org/1199712,kns://plasmoids.knsrc/api.kde-look.org/998895